<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of lista">
    <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://picsum.photos/200/300">
        </ion-thumbnail>
        <ion-toolbar>
          <ion-label>
            <ion-label  class="tx">{{item.producto.nombre}}</ion-label>
            <p>Cantidad : {{item.cantidad}}</p>
            <p>{{item.producto.precio}}bs</p>
          </ion-label>  
          <ion-label  slot="secondary">
            <ion-buttons class="add" slot="secondary">
              <ion-button (click)="cantidad(item,true)">
                <ion-icon  slot="icon-only" color="primary" name="remove-circle"></ion-icon>
              </ion-button>
              <ion-button  (click)="cantidad(item,false)">
                <ion-icon slot="icon-only" color="primary" name="add-circle"></ion-icon>
              </ion-button>

              <ion-button  (click)="eliminar(item)">
                <ion-icon slot="icon-only" color="primary" name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-label>
        </ion-toolbar>
        
      </ion-item>
    </ion-card>

  
</ion-list>

<ion-button  expand="block" shape="round" (click)="guardar()">
  Guardar Pedido <ion-icon slot="start" name="save-outline"></ion-icon>
</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Total</ion-title>
    <ion-label  slot="secondary">{{total}}   BS</ion-label>
  </ion-toolbar>
</ion-footer>